@import './styles/tailwind.css';
@import 'leaflet/dist/leaflet.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

#root {
  height: 100svh;
}
